fastapi
uvicorn
python-multipart
pydantic-settings
httpx
streamlit
requests
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
chromadb
grpcio==1.63.2
sentence-transformers
torch
pymupdf
fpdf2
numpy
